.idea/
.DS_Store
.python-version
__pycache__/
/html/
/build/
/dist/
/python3_albow.egg-info/
/UNKNOWN.egg-info/
/.svn/
/.eggs/
/starTrek.log
/GameStats.json
tests/GameStats.json
/venv-pyenv-3.8.5/
/venv-pyenv-3.9.1/
